.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.logo{
    padding: 15px;
    filter: invert(16%) sepia(45%) saturate(2765%) hue-rotate(196deg) brightness(94%) contrast(97%);


    
}




.logo:hover{
    filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%);

}



a{
    text-decoration: none;
    
}

i{
    border: 3px solid var(--main-color);
    border-radius: 100%;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 78%;
}

    



    

i:hover{
    filter: invert(60%) sepia(78%) saturate(933%) hue-rotate(154deg) brightness(83%) contrast(94%);
}








/* Vista de tablet */
@media (min-width:710px){
    .header{
        padding:15px  0;
    }

    i{
        filter: drop-shadow(5px -4px 18px rgb(7, 193, 250));
        border: 3px solid var(--main-color);
        border-radius: 100%;
        padding: 10px;
        font-size: 45px;
        cursor: pointer;
        position: fixed;
        top: 2%;
        left: 87%;
        background-color: transparent;
        border: none;
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%)
    }

    i:hover{
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(2px -5px 8px rgb(7, 193, 250));
        
    }
}