.header{
    display: flex;
    padding: 9px 0;
    justify-content: space-between;
    width: 280px;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 2;
}
    

header, .container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 7px;
}

    




.logo{
    margin-right: -35px;
    padding: 5px 0;
    width: 94px;
    transform: scale(1.5);
}

.flags{
    display: flex;
    gap: 21px;
}

 .flags-item img{
    cursor: pointer;
    display: block;
    width: 25px;
 }   

 .flags-item:hover{
    transform:scale(1.5)
 }







.logo:hover{
    filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(5px -4px 18px rgb(7, 193, 250));;
    transform: scale(1.8);

}



a{
    text-decoration: none;
    
}

i{

    font-size: 27px;
    cursor: pointer;

}

    



    

i:hover{
    filter: invert(60%) sepia(78%) saturate(933%) hue-rotate(154deg) brightness(83%) contrast(94%);
    transform: scale(1.5);
}





@media (min-width:768px){
    .flags-item img{
        width: 35px;
     }   
    
    i{
    font-size: 39px;
    cursor: pointer;
    }

    
        

    i:hover{
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(2px -5px 8px rgb(7, 193, 250));
        
        
    }
}
.header{
    display: flex;
    padding: 9px 0;
    width: 100%;
    align-items: center;
}

header, .container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 17px;
}


/* Vista de  desktop */
@media (min-width:1000px){
      .header{
        display: flex;
        padding: 9px 0;
        width: 100%;
        align-items: center;
    }
   
    
    header, .container{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 17px;
    }
    
    .logo{
        margin-right: -35px;
        padding: 16px 0;
        width: 102px;
        transform: scale(1.5);
    }
    i{
       
        font-size: 39px;
        cursor: pointer;
       }

}

    
    