.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.logo{
    padding: 1px;
    filter: invert(16%) sepia(45%) saturate(2765%) hue-rotate(196deg) brightness(94%) contrast(97%);


    
}




.logo:hover{
    filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(5px -4px 18px rgb(7, 193, 250));;

}



a{
    text-decoration: none;
    
}

i{
    border-radius: 100%;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 78%;
    top: -5px;

}

    



    

i:hover{
    filter: invert(60%) sepia(78%) saturate(933%) hue-rotate(154deg) brightness(83%) contrast(94%);
}





@media (min-width:768px){
    
    i{
        filter: drop-shadow(5px -4px 18px rgb(7, 193, 250));
        border: 3px solid var(--main-color);
        border-radius: 100%;
        padding: 10px;
        font-size: 45px;
        cursor: pointer;
        position: absolute;
        left: 87%;
        background-color: transparent;
        border: none;
        
    }

    i:hover{
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(2px -5px 8px rgb(7, 193, 250));
        
    }
}


/* Vista de  desktop */
@media (min-width:1000px){
    .header{
        margin-top: 8px;
        position: fixed;
        width: 100%;
    }

    i{
        border-radius: 100%;
        font-size: 45px;
        cursor: pointer;
        position: absolute;
        top: -40%;
        left: 86%;
    }

    i:hover{
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(2px -5px 8px rgb(7, 193, 250));
        
    }

    .logo:hover{
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(5px -4px 18px rgb(7, 193, 250));;
    
    }
}