.header{
    display: flex;
    padding: 9px 0;
    justify-content: space-between;
    width: 280px;
    flex-direction: row;
    align-items: center;
}
    

header, .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* gap: 10px; */
    padding: 0 6px 0 20px;
}

    




.logo{
    margin-right: -35px;
    padding: 0;
    width: 110px;
    filter: invert(16%) sepia(45%) saturate(2765%) hue-rotate(196deg) brightness(94%) contrast(97%);
}

.flags{
    display: flex;
    gap: 21px;
}

 .flags-item img{
    width: 25px;
 }   




.logo:hover{
    filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(5px -4px 18px rgb(7, 193, 250));;

}



a{
    text-decoration: none;
    
}

i{
    font-size: 32px;
    cursor: pointer;

}

    



    

i:hover{
    filter: invert(60%) sepia(78%) saturate(933%) hue-rotate(154deg) brightness(83%) contrast(94%);
}





@media (min-width:768px){
    .flags-item img{
        width: 35px;
     }   
    
    i{
    font-size: 39px;
    cursor: pointer;
    }

    
        

    i:hover{
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(2px -5px 8px rgb(7, 193, 250));
        
    }
}
.header{
    display: flex;
    padding: 9px 0;
    width: 100%;
    align-items: center;
}

header, .container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 17px;
}


/* Vista de  desktop */
@media (min-width:1000px){
      .header{
        display: flex;
        padding: 9px 0;
        width: 100%;
        align-items: center;
    }
   
    
    header, .container{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 17px;
    }
    
    i{
       
        font-size: 39px;
        cursor: pointer;
       }

    i:hover{
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(2px -5px 8px rgb(7, 193, 250));
        
    }

    .logo:hover{
        width: 88px;
        filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%) drop-shadow(5px -4px 18px rgb(7, 193, 250));;
    }
}

    
    