*{
    box-sizing: border-box;
}


:root{
    --main-color: black;
    --second-color: white;
    --font-size:1.1em;
    --main-font: 'Poppins', sans-serif;
    --main-blue: #0A4D68;
    --seccond-blue: #088395;
    --light-blue:#05BFDB;
    --intense-blue:#00FFCA;

    --linear-gradient: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(10,77,104,1) 50%, rgba(0,212,255,1) 100%);
    --radial-gradient: radial-gradient(circle, rgba(2,0,36,1) 18%, rgba(10,77,104,1) 61%, rgba(0,212,255,1) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


a{
    text-decoration: none;
}

body{
    font-family: var(--main-font);
    width: 100%;
    margin: 0;
}
.container a{
    filter:drop-shadow(0 0 15px var(--main-color))
}


img,
video{
    max-width: 100%;
    height: auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#bloques-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#bloques-texto h2{
    padding: 0;
    margin: 14px 0;
    text-align: center;
}


.area-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    display: flex;
    padding: 9px;
    justify-content: center;
    border: 2px solid var(--main-blue) ;
    border-radius: 15px;
    width: 250px;
    height: 180px;
    font-size: var(--font-size);
    font-family: var(--main-font);
    font-weight: 600;
}


.legend{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
    align-items: center;
    gap: 5px;
}




button{
    width: 115px;
    padding: 8px 5px;
    border-radius: 25px;
    border: 3px solid var(--main-color);
    background: var(--light-blue);
    cursor: pointer;  
}
button:hover{
    background: var(--linear-gradient);
    color: var(--intense-blue);
    font-weight: bold;    
}



#mensaje-resultado{
    display: flex;
    padding: 11px;
    flex-direction: column;
    justify-content: center;
    border: 4px solid var(--main-blue);
    border-radius: 15px;
    width: 250px;
    font-size: var(--font-size);
    text-align: center;
    font-weight: 500;
}

#mensaje-resultado legend{
    font-size: 10px;
}
.resultados{
    padding: 25px;
}

.none{
    display: none;
}

#footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    height: auto;
}
    

#footer .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.logo-footer{
    filter:drop-shadow(0 0 15px var(--intense-blue));
    margin-top: 43px;
}
.copy{
    color: var(--second-color)
}

#footer li{
    color: var(--intense-blue);
    gap: 25px;
}

.nav a{
    display: flex;
    color: var(--second-color);
    margin: 6px 0;
}

/* Vista de tablet */
@media (min-width:710px){
    .header{
        padding:15px  0;
    }
    #bloques-texto{
        display: grid;
        align-items: center;
        grid-template-columns: 0fr 0fr;
        height: 73vh;
        gap: 26px;
        justify-items: center;
    }


    textarea{
        padding: 9px;
        border: 3px solid var(--main-blue);
        border-radius: 15px;
        width: 279px;
        height: 327.23px;
        font-size: 14px;
        font-family: var(--main-font);
        font-weight: 400;
    }
    .legend{
        font-size: 15px;
    }

    .btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
        align-items: center;
        gap: 7px;
    }

    .resultados{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .resultados img{
        width:200px;
    }

    #mensaje-resultado{
        padding: 14px;
        width: 269px;
        align-items: center;
    }

    #mensaje-resultado legend{
        font-size: 15px;
    }
    #resultado{
        font-size: 14px;
        font-weight: 600;
    }

    #footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--main-color);
        height: auto;
        padding: 0 35px;

    }
    

    #footer .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }
    .logo-footer{
        filter:drop-shadow(0 0 15px var(--intense-blue));
        margin-top: 43px;
    }
    
    #footer li{
        color: var(--intense-blue);
        gap: 25px;
    }
    
    .nav a{
        display: flex;
        color: var(--second-color);
        margin: 6px 0;
    }
    
    
    
    
}
/* Vista pc */
@media(min-width:1000px){

    .header{
        padding: 30px;
    }
    #bloques-texto{
        display: flex;
        flex-direction: row;
        height: 72.5vh;
        justify-items: center;
    }


    textarea{
        padding: 9px;
        border: 3px solid var(--main-blue);
        border-radius: 15px;
        width: 400px;
        height: 320.23px;
        font-size: 1em;
        font-family: var(--main-font);
        font-weight: 400;
    }
    .legend{
        font-size: 15px;
    }

    .btns{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 25px 0;
        align-items: center;
        gap: 7px;
    }

    .resultados{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .resultados img{
        width:200px;
    }

    #mensaje-resultado{
        padding: 8px;
        width: 459px;
        height: 407px;
        align-items: center;
    }

    #mensaje-resultado legend{
        font-size: 15px;
    }
    #resultado{
        font-size: 1.1em;
    }

    #footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--main-color);
        height: auto;
        padding: 0 35px;

    }
    

    #footer .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }
    .logo-footer{
        filter:drop-shadow(0 0 15px var(--intense-blue));
        margin-top: 43px;
    }
    .copy{
        color: var(--second-color)
    }
    #footer li{
        color: var(--intense-blue);
        gap: 25px;
    }
    
    .nav a{
        display: flex;
        color: var(--second-color);
        margin: 6px 0;
    }

}