*{
    box-sizing: border-box;
}


:root{
    --main-color: black;
    --second-color: white;
    --font-size:1.1em;
    --main-font: 'Poppins', sans-serif;
    --main-blue: #012650;
    --seccond-blue: #088395;
    --light-blue:#05BFDB;
    --intense-blue:#00FFCA;
    --color-logo: #0A3871

    --linear-gradient: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(10,77,104,1) 50%, rgba(0,212,255,1) 100%);
    --radial-gradient: radial-gradient(circle, rgba(2,0,36,1) 18%, rgba(10,77,104,1) 61%, rgba(0,212,255,1) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




body{
    font-family: var(--main-font);
    width: 100%;
    margin: 0;
    
    
}


img,
video{
    max-width: 100%;
    height: auto;
}





#bloques-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 40px 0;
}




.area-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    display: flex;
    padding: 9px;
    justify-content: center;
    border: 2px solid var(--main-blue);
    border-radius: 15px;
    width: 250px;
    height: 180px;
    font-size: 13px;
    font-family: var(--main-font);
    font-weight:bold;
    resize: none;
    
}

textarea::placeholder{
    text-align: center;
    font-size: 1.5em;
}


.legend{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
    align-items: center;
    gap: 5px;
}




.btn-encriptar:hover{
    background: var(--linear-gradient);
    color: var(--intense-blue);
    font-weight: bold;
}

button{
    width: 115px;
    padding: 8px 5px;
    border-radius: 25px;
    border: 3px solid var(--main-color);
    background: var(--light-blue);
    cursor: pointer;  
    font-weight: bold;
}
button:hover{
    background: var(--linear-gradient);
    color: var(--intense-blue);
    font-weight: bold;    
}

.loader img{
    width: 190px;
}


#muneco{
    width:200px;
    filter:drop-shadow(0 0 12px var(--main-color));
}
#forbriden{
    width:200px;
    filter:drop-shadow(0 0 12px var(--main-color));
}


#forbriden{
    width: 162px;;

}
#mensaje-resultado{
    display: flex;
    padding: 36px;
    flex-direction: column;
    justify-content: center;
    border: 4px solid var(--main-blue);
    border-radius: 15px;
    width: 250px;
    font-size: var(--font-size);
    text-align: center;
    font-weight: 500;
    height: 284px;
    font-weight: bold;
/*     overflow: scroll;
 */}

#mensaje-resultado legend{
    font-size: 10px;
}
.resultados{
    padding: 25px;
}

#resultado {
    font-size: 13px;
}
.none{
    display: none;
}

#footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    height: auto;
}
    

#footer .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.logo-footer{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(6deg) brightness(101%) contrast(104%) drop-shadow(0 0 15px );
    
    margin-top: 43px;
}
.logo-footer:hover{
    filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%);
}
    
    
    


.copy{
    color: var(--second-color)
}

#footer li{
    color: var(--intense-blue);
    gap: 25px;
}

.nav a{
    display: flex;
    color: var(--second-color);
    margin: 6px 0;
}

/* Vista de tablet */
@media (min-width:710px){
    .header{
        padding:15px  0;
    }
    #bloques-texto{
        display: grid;
        align-items: center;
        grid-template-columns: 0fr 0fr;
        height: 88vh;
        gap: 26px;
        justify-items: center;
    }


    textarea{
        padding: 9px;
        border: 3px solid var(--main-blue);
        border-radius: 15px;
        width: 279px;
        height: 327.23px;
        font-size: 13px;
        font-family: var(--main-font);
    }
    .legend{
        font-size: 15px;
    }

    .btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
        align-items: center;
        gap: 7px;
    }

    .loader img{
        width: 190px;
    }
    .resultados{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #muneco{
        width:204px;
        filter:drop-shadow(0 0 12px var(--main-color));
    }
    #forbriden{
        width:200px;
        filter:drop-shadow(0 0 12px var(--main-color));
    }

    #mensaje-resultado{
        padding: 12px;
        width: 372px;
        align-items: center;
        height: 356px;
    }

    #mensaje-resultado legend{
        font-size: 11px;
    }
    #resultado{
        font-size: 15px;
    }

    #footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--main-color);
        height: auto;
        padding: 0 35px;

    }
    

    #footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .logo-footer{
        filter: invert(100%) sepia(12%) saturate(166%) hue-rotate(219deg) brightness(115%) contrast(90%);
        
        
    }
    .copy{
    padding: 0 45px 0;        

    }
    
    #footer li{
        color: var(--intense-blue);
        gap: 25px;
    }
    
    .nav a{
        display: flex;
        color: var(--second-color);
        margin: 6px 0;
    }
    
    
    
    
}
/* Vista pc */
@media(min-width:1000px){

    .header{
        padding: 30px;
    }
    #bloques-texto{
        display: flex;
        flex-direction: row;
        height: 72.5vh;
        justify-items: center;
    }


    textarea{
        padding: 9px;
        border: 3px solid var(--main-blue);
        border-radius: 15px;
        width: 400px;
        height: 320.23px;
        font-size: 17px;
        font-family: var(--main-font);
    }
        
    .legend{
        font-size: 15px;
    }

    .btns{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 25px 0;
        align-items: center;
        gap: 7px;
    }

    .resultados{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #muneco{
        width:320px;
    }
    #forbriden{
        width: 265px;;
    }

    #mensaje-resultado{
        width: 430px;
        height: 330px;
        align-items: center;
    }

    #mensaje-resultado legend{
        font-size: 15px;
    }
    #resultado{
        font-size: 1.1em;
        color: var(--main-color);
        padding: 0;
    margin: 0;
        
        
    }

    #footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--main-color);
        height: auto;
        padding: 0 35px;

    }
    

    #footer .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }
    .logo-footer{
        padding: 0 25px;
    margin-top: 43px;
    }
    .copy{
        color: var(--second-color)
    }
    #footer li{
        color: var(--intense-blue);
        gap: 25px;
    }
    
    .nav a{
        display: flex;
        color: var(--second-color);
        margin: 6px 0;
        cursor: pointer;
    }

}