*{
    box-sizing: border-box;
   
}

:root{
    --main-color: black;
    --second-color: white;
    --font-size:1.1em;
    --main-font: 'Poppins', sans-serif;
    --main-blue: #0A4D68;
    --gradient-blue: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,77,104,1) 35%, rgba(0,212,255,1) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




body{
    font-family: var(--main-font);
    width: 100%;
}
.container a{
    filter:drop-shadow(0 0 15px var(--main-color))
}


img,
video{
    max-width: 100%;
    height: auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#bloques-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}



 textarea{
    resize: none;
    display: flex;
    justify-content: center;
    border: 2px solid var(--main-blue) ;
    border-radius: 15px;
    width: 250px;
    font-size: var(--font-size);
}


.legend{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}


#mensaje-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--main-blue) ;
    border-radius: 15px;
    width: 250px;
    font-size: var(--font-size);
    text-align: center;
}


