@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}


:root{
    --main-color: black;
    --second-color: white;
    --font-size:1.1em;
    --main-font: 'Poppins', sans-serif;
    --main-blue: #012650;
    --seccond-blue: #088395;
    --light-blue:#05BFDB;
    --intense-blue:#00FFCA;
    --color-logo: #0A3871;
    --linear-gradient: linear-gradient(66deg, rgba(2,0,36,1) 5%, rgba(10,77,104,1) 50%, rgba(0,212,255,1) 950%);
    --radial-gradient: radial-gradient(circle, rgba(2,0,36,1) 18%, rgba(10,77,104,1) 61%, rgba(0,212,255,1) 100%);
    
}




body{
    font-family: var(--main-font);
    width: 100%;
    margin: 0;
    
    
}


img,
video{
    max-width: 100%;
    height: auto;
}





#bloques-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px 0;
    height: 929px;
   
}
    




.area-texto{
    display: flex;
    flex-direction: column;
    align-items: center;

}

textarea{
    display: flex;
    padding: 9px;
    justify-content: center;
    border: 2px solid var(--main-blue);
    border-radius: 15px;
    width: 250px;
    height: 180px;
    font-size: 13px;
    font-family: var(--main-font);
    font-weight:bold;
    resize: none;
    
}

textarea::placeholder{
    text-align: center;
    font-size: 1.5em;
}


.legend{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

.btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}




.btn-encriptar:hover{
    background: var(--linear-gradient);
    color: var(--intense-blue);
    font-weight: bold;
}

button{
    width: 115px;
    padding: 8px 5px;
    border-radius: 25px;
    border: 3px solid black;
    background: var(--linear-gradient);
    color: var(--intense-blue);
    cursor: pointer;  
    font-weight: bold;
    
}
button:hover{
    transform: scale(1.2);
    font-weight: bold;    
}

.loader{
    display: flex;
    justify-content: center;

}

.loader img{
    width: 190px;
}


#muneco{
    width:280px;
    filter:drop-shadow(0 0 12px var(--main-color));
}
#forbriden{
    width:200px;
    filter:drop-shadow(0 0 12px var(--main-color));
}


#forbriden{
    width: 143px;
    filter: drop-shadow(0 0 12px var(--main-color));
    position: relative;
    left: 73px;

}
#mensaje-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid var(--main-blue);
    border-radius: 15px;
    width: 272px;
    font-size: var(--font-size);
    text-align: center;
    word-wrap: break-word;
    /* font-weight: 500; */
    height: 284px;
    font-weight: bold;
    overflow: auto;
    word-wrap: break-word;
}



.leyenda{
    font-size: 11.7px;
}
.resultados{
    padding: 8px;
    
}

#resultado {
    font-size: 14px;
}
#resultado:hover{
    color: var(--seccond-blue);
}

#resultado:active{
    font-size: 20px;

}

.none{
    display: none;
}

#footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    height: auto;
    padding: 0 35px;
}

    

#footer .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 21px 0 0;
}

.logo-footer{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(6deg) brightness(101%) contrast(104%) drop-shadow(0 0 15px );
    padding: 0 24px;
}


.logo-footer:hover{
    filter: invert(47%) sepia(98%) saturate(459%) hue-rotate(147deg) brightness(96%) contrast(84%);
    transform: scale(1.5);    
}

    
    
    


.copy{
    color: var(--second-color)
}



.nav{
    display: flex;
    width: 265px;
    flex-wrap: wrap;
    padding: 0;
    gap: 27px;
    justify-content: center;
    padding: 6px;
    
}



.tooltip-box{
    position: relative;

}


.tooltip-info{
    background-color: var(--main-color);
    color: var(--second-color);
    border: 1px solid var(--second-color);
    padding: 3px 6px;
    border-radius: 5px;
    position: fixed;
    visibility: hidden;
    font-size: 13px;
    z-index: 10;
}





.tooltip-box:hover .tooltip-info{
    visibility: visible;
}



.github{
width: 25px;
filter: invert(73%) sepia(98%) saturate(1%) hue-rotate(32deg) brightness(103%) contrast(89%);
}
.github:hover{
    transform: scale(1.5);
}

.aluracursos{
    width: 17px;
    filter: invert(16%) sepia(45%) saturate(2765%) hue-rotate(196deg) brightness(94%) contrast(97%);;
    
}

.aluracursos:hover{
    transform: scale(1.5);
}


 .linkedin{
    width: 25px;
    filter: invert(15%) sepia(60%) saturate(6697%) hue-rotate(221deg) brightness(100%) contrast(97%);
}
.linkedin:hover{
    transform: scale(1.5);
}


.platzi{
    width: 25px;
    filter: invert(55%) sepia(47%) saturate(5746%) hue-rotate(64deg) brightness(99%) contrast(80%);
}
.platzi:hover{
    transform: scale(1.5);
}







/* Vista de tablet */
@media (min-width:700px){
    
    #bloques-texto{
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 0fr;
    height: 736px;
    gap: 26px;
    justify-items: center;

    }
    


    textarea{
        padding: 9px;
        border: 3px solid var(--main-blue);
        border-radius: 15px;
        width: 279px;
        height: 327.23px;
        font-size: 13px;
        font-family: var(--main-font);
    }
    .legend{
        font-size: 13px;
    }

    .btns{
        display: grid;
        grid-template-columns: 6fr 1fr;
        padding: 12px 0;
        width: 270px;
        align-items: center;
        }
        
    .btns2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
        align-items: center;
        gap: 7px;
    }

    .loader img{
        width: 190px;
    }
    .resultados{
    margin-bottom: 83px;
    
        
    }

    #muneco{
        width:204px;
        filter:drop-shadow(0 0 12px var(--main-color));
    }
    #forbriden{
        width:200px;
        position: relative;
        left: 4px;
    }
        

    #mensaje-resultado{
        padding: 12px;
        width: 269px;
        align-items: center;
        height: 356px;
        word-wrap: break-word;
    }

    .leyenda{
        font-size: 11px;
    }
    #resultado{
        font-size: 15px;
    }

    

    #footer{
        display: flex;
        background-color: var(--main-color);
        height: auto;
        align-items: center;
        flex-direction: row;
    }


    

    #footer .container{
        display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 23px 0 0 11px;
    gap: 0;
    justify-content: center;
    }
    

   
   
    
    
    
    .nav a{
        display: flex;
        color: var(--second-color);
        margin: 6px 0;
    }
    
    
}  
    

/* Vista pc */
@media(min-width:1000px){

    
    #bloques-texto{
        display: flex;
        flex-direction: row;
        height: 800px;
        justify-items: center;
    }


    textarea{
        padding: 9px;
        border: 3px solid var(--main-blue);
        border-radius: 15px;
        width: 400px;
        height: 320.23px;
        font-size: 17px;
        font-family: var(--main-font);
    }
        


    .btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px 0;
    width: 394px;
    align-items: center;
    }

    #forbriden{
        width:200px;
        filter:drop-shadow(0 0 12px var(--main-color));
        position: relative;
        left: 4px;
    }
    

    

    .resultados{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #muneco{
        width:320px;
    }
    #forbriden{
        width: 265px;;
    }

    #mensaje-resultado{
        width: 411px;
        height: 330px;
        align-items: center;
            word-wrap: break-word;

    }

    .leyenda{
        font-size: 13px;

    }

    #resultado{
        font-size: 1.1em;
        color: var(--main-color);
        padding: 0;
    margin: 0;
    }   
        
      
    
  

    #footer{
        width: 100%;
        display: flex;
        align-items: center;
    }

    
    

    

    #footer .container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0 0 4px;
        gap: 0;
    }
    
    .logo-footer{
        padding: 0 24px;
    }
    .copy{
        font-size: 18px;
        padding: 0;        
    
    }
   
    
    .nav a{
        display: flex;
        color: var(--second-color);
        margin: 6px 0;
        cursor: pointer;
    }

    #github-span{
        top: 88%;
        left: 84%;
    }
    #alura-span{
        top: 88%;
        left: 89%;
    }
    #linkedin-span{
        top: 88%;
        left: 91%;
    }
    
    #platzi-span{
        top: 88%;
        left: 91%;
    }

}